body{
	width: 100%;
	margin: 0; padding: 0;
	background-color: #243035;
}

#palette{
	width:80px;
	background-color: rgba(200,200,200,0.5);
	margin-top: 30px;
	margin-left: 0;
	padding: 10px 10px 10px 15px;
	border-radius: 0px 7px 7px 0px;
}

#toolkit,
#colorkit{
	width: 100%;
	margin-top: 10px;
}

.tool, .color{
	width: 30px;
	height: 30px;
	border: 2px solid #888;
	margin: 0px 2px;
	display: inline-block;
}
.tool:hover, .color:hover{
	border: 2px solid #DDD;
}